select, button, input {
    color: black;
}
input, button, select {
    text-align: center;
    width: 300px;
}

input {
    margin-bottom: 10px;
}

button{
    background-color: rgb(206, 255, 213);
}

h2 {
    color: rgb(252, 235, 235);
    margin-bottom: 5px;
}